<div class="menu__dark"></div>
<!-- HEADER START -->
<header id="header">
    <div class="header__color" id="fixed">
        <div class="wrapper">
            <div class="header__bottom">
                <div class="header__logo">
                    <a href="/" class="header__logo__link">
                        <img src="/images/logo.png" class="header__logo__img" alt="png">
                        <img src="/images/logoMobile.png" class="header__logo__mobile" alt="png">
                    </a>
                </div>
                <div class="header__call" id="telephone">
                    <p class="header__call__text">Служба поддержки</p>
                    <a href="tel:+998" class="header__call__link"></a>
                </div>
                <button class="menu__btn"><span class="menu__btn__span"></span></button>
                <div class="header__menu__box">
                    <div class="header__menu__box__top">
                        <ul class="header__top__socials socials">
                            {{#if isAdmin}}
                            <li class="socials__item"><a href="/admin/accaunt" class="socials__link"><i
                                        class="fal fa-user socials__link__icon"></i>
                                    {{adminName}}</a></li>
                            <li class="socials__item"><a href="/admin" class="socials__link"><i
                                        class="fal fa-home socials__link__icon"></i> Главная</a></li>
                            
                            <li class="socials__item"><a href="/admin/logout" class="socials__link"><i
                                        class="far fa-sign-out-alt socials__link__icon"></i>Выйти</a></li>
                            {{else}}
                            <li class="socials__item"><i class="fal fa-user"></i>
                                <a href="/admin/login" class="socials__link socials__link__in">Вход</a>
                                <a href="/auth/verify?admin=true" class="socials__link socials__link__in">Регистрация</a>
                            </li>
                            {{/if}}
                        </ul>
                        <div class="our__social">
                            <a href="tel:+998" class="header__call__link">+998</a>
                            <ul class="our__social__list">
                                <li class="our__social__item"><a href="#!" target="_blank"
                                        class="facebook_link our__social__link"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="our__social__item"><a href="#!" target="_blank"
                                        class="instagram_link our__social__link"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="our__social__item"><a href="#!" target="_blank"
                                        class="telegram_link our__social__link"><i class="fab fa-telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <form action="/products" class="header__form">
                    <input name="search" type="search" class="header__search" placeholder="Поиск по названию товаров"
                        value="{{searchQuery}}">
                    <button class="search__btn"><i class="far fa-search"></i></button>
                </form>

                <div class="header__action">
                    <a href="#!" title="{{adminName}}" class="header__action__item"><i class="fal fa-user"></i></a>
                    <ul class="user__list">
                        {{#if isAdmin}}
                        <li class="user__list__item"><a href="/admin/accaunt" class="user__list__link"><i
                                    class="fal fa-user"></i>
                                {{adminName}}</a></li>
                        
                        <li class="user__list__item"><a href="/admin/logout" class="user__list__link">Выйти</a></li>
                        {{else}}
                        <li class="user__list__item"><a href="/admin/login" class="user__list__link">Войти</a></li>
                        <li class="user__list__item"><a href="/auth/verify?admin=true"
                                class="user__list__link">Регистрация</a></li>
                        {{/if}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->

<!-- SEARCH START -->
<section class="form">
    <div class="wrapper">
        <form action="/products" class="form__mobile" method="GET">
            <input name="search" type="search" class="form__search" placeholder="Поиск по названию товаров"
                value="{{searchQuery}}" required>
            <button type="submit" class="form__submit"><i class="far fa-search"></i></button>
        </form>
    </div>
</section>
<!-- SEARCH END -->